body {
  background-image: url('./imgs/3957938.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw 120vh;

}

.loading {
  font-size: 3rem;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#root {
  display: grid;
  max-width: 550px;
  margin: 30px auto;
  overflow: auto;
  height: fit-content;
  border: 3px solid steelblue;
  padding: 30px;
  padding-top: 5px;
  border-radius: 5px;
}

.header {
  justify-self: center;
  font-size: 3rem;
  margin-top: 0;
  font-family: cursive;
  border-bottom: 3px solid red;
}

.addNewTaskButton {
  color: white;
  border-radius: 5px;
  border: none;
  width: 40%;
  justify-self: center;
  font-size: 1rem;
  cursor: pointer;
  font-family: fantasy;
  padding-top: 5px;
}

.newTodoForm {
  display: grid;
  font-weight: bold;
  font-family: cursive;
  font-size: 1.5rem;
  border: 5px solid steelblue;
  padding: 15px;
  margin-top: 10px;
}

.formLabel {
  /* font-size: 2rem; */
}

.submitButton {
  background-color: green;
  color: white;
  font-size: 1rem;
  font-family: fantasy;
  cursor: pointer;
}

.inputBox {
  height: 2rem;
  font-size: 1.5rem;
  font-family: cursive;
  border: 3px solid black;
  margin-bottom: 5px;
}

.todoItem {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 4px dotted steelblue;
  font-family: fantasy;
  font-size: 2rem;
  cursor: pointer;

}

.todoItem:hover {
  opacity: 50%;
}

.deleteX {
  color: white;
  background-color: red;
  align-self: center;
  justify-self: right;
  font-size: 1rem;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: fantasy;
  box-shadow: 3px 3px 3px black;


}

.listItem {
  display: grid;
  grid-template-columns: auto auto;
}

.todoUserName {
  font-size: 1rem;
  color: navy;
  background-color: #fff;
  width: fit-content;
}

.userData {
  border: 3px solid steelblue;
  padding: 10px 10px;
  padding-top: 0;
  display: grid;
  justify-self: center;
  justify-items: left;
  grid-template-columns: auto;
  width: 60%;
  font-size: 1.2rem;
  font-family: fantasy;
}

.backToSingleTodoBtn {
  width: 80%;
  justify-self: center;
  padding: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  background-color: steelblue;
  color: white;
  font-family: fantasy;
  padding-top: 8px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
}

.btn {
  height: 90%;
  width: 30%;
  justify-self: center;
  background: steelblue;
  color: #fff;
  border: none;
  box-shadow: 3px 3px 3px black;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: cursive;
}